body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* adds text color to body text */
body {
  color: grey;
  font-size: 10pt;
}

h1,
h2,
h3,
h4,
h5 {
  color: #2e645a;
  font-family: "Julius Sans One", sans-serif;
}

/* adds margins on all four sides of paragraph text, updates font */
p,
a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: orange;
}

/* adds a top margin to all rows  */
.row {
  margin-top: 30px;
}

.card-title {
  color: #2e645a;
}

.brand-logo {
  margin-left: 10px;
}

.nav-wrapper {
  background-color: #2e645a;
}

/* specifies the size of images in cards  */
.card-imgage {
  width: 300px;
}

/* adds margins to form content  */
.form-group {
  margin: 20px 20px 20px 20px;
}

.headshot {
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .headshot {
    width: 100%;
  }
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: orange;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #2e645a;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: #2e645a;
  font-size: 1.15em;
  box-shadow: none;
}

/* Morph shape necessary with bubble or elastic
.bm-morph-shape {
  fill: #373a47;
} */

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 1.5em;
}

nav {
  background-color: #2e645a;
}
